<nav-bar></nav-bar>
<div class="container">
	<h3 class="text-center">Credits</h3>
	<hr/>

  	<div class="row marketing">
    	<h4>Scaffolding: </h4>
	    <p>
	    	<a href="https://github.com/yeoman/generator-angular" target="_blank">
	      		<img class="pull-left" src="images/yeoman.png" alt="I'm Yeoman">
      		</a> <br> + Angular
	    </p>
		
		<div class="clearfix"></div>
		
		<br/>
		<br/>
		<br/>

 		<h4> Weather Data: </h4>
		<p>
			<a href="https://openweathermap.org/" target="_blank"> 
				<img style="width: 250px;" src="images/openweathermap.svg" alt="OpenWeatherMap">
			</a>
		</p>

		<div class="clearfix"></div>
		
		<br/>
		<br/>
		<br/>

 		<h4> Hosting: </h4>
		<p>
			<a href="https://openshift.redhat.com" target="_blank">
		 		<img style="background: #333;" src="images/openshift.svg" alt="Openshift"> 
	 		</a>
		</p>

  </div>

</div>
